table.table td {
	line-height: normal;
}

table a {
	color: #9068be;
}

.card.bg-success .text-muted,
.card.bg-danger .text-muted {
	color: white !important;
}

.nav-header .brand-logo a b img {
	max-width: 40px;
}

.cursor-pointer {
	cursor: pointer;
}