table.table td {
	line-height: normal;
}

table a {
	color: #9068be;
}

.card.bg-success .text-muted,
.card.bg-danger .text-muted {
	color: white !important;
}

.nav-header .brand-logo a b img {
	max-width: 40px;
}

.cursor-pointer {
	cursor: pointer;
}

.overlay-wrapper > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px
}

.overlay-wrapper .overlay > .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px
}

.data-table {
	position: relative;
}