.nav-header .brand-logo b img.logo-image {
	background-color: #9067be;
	border-radius: 5px;
	padding: 5px 6px;
	margin-top: 0;
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.18);
}

table.table td {
	line-height: normal;
}

table a {
	color: #9068be;
}

.card.bg-success .text-muted,
.card.bg-danger .text-muted {
	color: white !important;
}

.nav-header .brand-logo a b img {
	max-width: 40px;
}

.cursor-pointer {
	cursor: pointer;
}

.overlay-wrapper > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px
}

.overlay-wrapper .overlay > .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px
}

.data-table {
	position: relative;
}

.nowrap {
	white-space:nowrap;
}

.page-titles {
	z-index: 0;
}

/* select2 */
.select2-container--default .select2-selection--multiple {
	border: 1px solid rgba(120, 130, 140, 0.13);
	border-radius: 0;
	background: #F1F4F5;
	height: 40px;
	color: #000;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	padding-top: 2px;
	padding-bottom: 2px;
}

.filter-buttons.flex-bottom-space {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

/* Для отчетов */

.font-family-arial {
	font-family: arial, sans-serif;
}
.line-height-2 {
	line-height: 1.5em;
}

.bg-grey {
	background-color: #acaabb !important;
	color: #fff !important;
	fill: #978DED !important;
}

.form-control-sm {
	height: 40px;
}